---
{{- $hostNickname := exec "sh" (list "-c" "kubectl -n default get configmap host-metadata -o jsonpath=\"{.data.hostNickname}\" 2>/dev/null || true") | trim }}

releases:
  - name: project
    namespace: sys-acme
    installed: {{ ne $hostNickname "tharja" }}
    createNamespace: true
    chart: ../../helm/project

  - name: acme-pebble
    namespace: sys-acme
    installed: {{ ne $hostNickname "tharja" }}
    createNamespace: true
    chart: ../../helm/acme-pebble
    values:
      - ./values.yaml

  - name: acme-traefik-config
    installed: {{ ne $hostNickname "tharja" }}
    chart: ../../helm/traefik-config
    namespace: sys-traefik
    createNamespace: true
    values:
      - name: acme-pebble-resolver
        config: |
          additionalArguments:
            - "--entrypoints.websecure.http.tls.certresolver=internal-acme"
            - "--certificatesresolvers.internal-acme.acme.email=admin@example.invalid"
            - "--certificatesresolvers.internal-acme.acme.storage=/data/acme.json"
            - "--certificatesresolvers.internal-acme.acme.caserver=https://acme-pebble.sys-acme.svc.cluster.local:14000/dir"
            - "--certificatesresolvers.internal-acme.acme.tlschallenge=true"
          env:
            - name: LEGO_CA_CERTIFICATES
              value: /etc/ssl/custom/acme-pebble-ca/crt
          persistence:
            enabled: true
            path: /data
            size: 128Mi
          volumes:
            - name: acme-pebble-ca
              mountPath: /etc/ssl/custom/acme-pebble-ca
              type: secret
