---
repositories:
  - name: crowdsecurity
    url: https://crowdsecurity.github.io/helm-charts
  - name: zekker6
    url: https://zekker6.github.io/helm-charts/

releases:
  - name: crowdsec-web-ui
    namespace: sys-crowdsec
    createNamespace: true
    chart: zekker6/crowdsec-web-ui
    values:
      - persistence:
          data:
            enabled: true
            storageClass: local-path-projects-retained
            mountPath: /app/data
        env:
          - name: "TZ"
            value: "Europe/Berlin"
          - name: "CROWDSEC_URL"
            value: "http://crowdsec-service.sys-crowdsec.svc.cluster.local:8080"
          - name: "CONFIG_INSTANCE_LAPI_URL"
            value: "http://crowdsec-service.sys-crowdsec.svc.cluster.local:8080"
          - name: "CONFIG_INSTANCE_LAPI_AUTH_USERNAME"
            value: "crowdsec-web-ui"
          - name: "CONFIG_INSTANCE_LAPI_AUTH_PASSWORD"
            valueFrom:
              secretKeyRef:
                name: crowdsec-ui
                key: password
          - name: "CONFIG_INSTANCE_METRICS_0_NAME"
            value: "LAPI"
          - name: "CONFIG_INSTANCE_METRICS_0_URL"
            value: "http://crowdsec-service.sys-crowdsec.svc.cluster.local:6060/metrics"
          - name: "CONFIG_INSTANCE_METRICS_1_NAME"
            value: "Agent"
          - name: "CONFIG_INSTANCE_METRICS_1_URL"
            value: "http://crowdsec-agent-service.sys-crowdsec.svc.cluster.local:6060/metrics"
          - name: "CONFIG_CROWDSEC_SYNC_REFRESH_INTERVAL"
            value: "5m"
          - name: "CONFIG_CROWDSEC_SYNC_LOOKBACK"
            value: "6h"
          - name: "CONFIG_CROWDSEC_SYNC_IDLE_REFRESH_INTERVAL"
            value: "30m"
          - name: "CONFIG_CROWDSEC_SYNC_RECONCILE_RECENT_INTERVAL"
            value: "30m"
          - name: "CONFIG_CROWDSEC_SYNC_RECONCILE_ACTIVE_INTERVAL"
            value: "15m"
          - name: "CONFIG_CROWDSEC_SYNC_RECONCILE_OLD_INTERVAL"
            value: "6h"
          - name: "CONFIG_CROWDSEC_SYNC_RECONCILE_WINDOWS_PER_REFRESH"
            value: "1"
          - name: "CONFIG_CROWDSEC_SYNC_BOOTSTRAP_RETRY_DELAY"
            value: "3m"
          - name: "CONFIG_CROWDSEC_SYNC_ALERT_SYNC_CHUNK"
            value: "2h"


        resources:
          requests:
            cpu: 100m
            memory: 1Gi
          limits:
            cpu: 1
            memory: 4Gi


  - name: webfacade
    chart: ../../helm/website
    namespace: sys-crowdsec
    createNamespace: true
    values:
      - ./values/webfacade.yaml