---
repositories:
  - name: crowdsecurity
    url: https://crowdsecurity.github.io/helm-charts
  - name: zekker6
    url: https://zekker6.github.io/helm-charts/

releases:
  - name: crowdsec-web-ui
    namespace: sys-crowdsec
    createNamespace: true
    chart: zekker6/crowdsec-web-ui
    values:
      - env:
          - name: "TZ"
            value: "Europe/Berlin"
          - name: "CROWDSEC_URL"
            value: "http://crowdsec-service.sys-crowdsec.svc.cluster.local:8080"
          - name: "CONFIG_INSTANCE_LAPI_URL"
            value: "http://crowdsec-service.sys-crowdsec.svc.cluster.local:8080"
          - name: "CONFIG_INSTANCE_LAPI_AUTH_USERNAME"
            value: "crowdsec-web-ui"
          - name: "CONFIG_INSTANCE_LAPI_AUTH_PASSWORD"
            valueFrom:
              secretKeyRef:
                name: crowdsec-ui
                key: password
          - name: "CONFIG_INSTANCE_METRICS_0_NAME"
            value: "LAPI"
          - name: "CONFIG_INSTANCE_METRICS_0_URL"
            value: "http://crowdsec-service.sys-crowdsec.svc.cluster.local:6060/metrics"
          - name: "CONFIG_INSTANCE_METRICS_1_NAME"
            value: "Agent"
          - name: "CONFIG_INSTANCE_METRICS_1_URL"
            value: "http://crowdsec-agent-service.sys-crowdsec.svc.cluster.local:6060/metrics"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi

