---
repositories:
  - name: crowdsecurity
    url: https://crowdsecurity.github.io/helm-charts
  - name: zekker6
    url: https://zekker6.github.io/helm-charts/

releases:
  - name: sys-crowdsec
    namespace: sys-crowdsec
    createNamespace: true
    chart: ../../helm/project
    values:
      - memory:
          max: 1Gi

  - name: crowdsec
    namespace: sys-crowdsec
    createNamespace: true
    needs:
      - sys-crowdsec
    chart: crowdsecurity/crowdsec
    version: 0.19.1
    values:
      - ./values/crowdsec.yaml

  - name: crowdsec-bouncer
    namespace: sys-crowdsec
    createNamespace: true
    needs:
      - crowdsec
    chart: ../../helm/crowdsec-bouncer
    values:
      - lapiHost: crowdsec-service.sys-crowdsec.svc.cluster.local
        lapiPort: "8080"
        lapiScheme: http
        mode: stream
        updateMaxFailure: -1
        streamStartupBlock: false
        clientTrustedIPs:
          - 10.42.0.1/32

  - name: crowdsec-web-ui-lapi-user
    namespace: sys-crowdsec
    createNamespace: true
    needs:
      - crowdsec
    chart: ../../helm/crowdsec-lapi-user
    values:
      - ./values/crowdsec-web-ui-lapi-user.yaml.gotmpl

  - name: crowdsec-web-ui
    namespace: sys-crowdsec
    createNamespace: true
    needs:
      - crowdsec
      - crowdsec-web-ui-lapi-user
    chart: zekker6/crowdsec-web-ui
    values:
      - env:
          - name: "TZ"
            value: "Europe/Berlin"
          - name: "CROWDSEC_URL"
            value: "http://crowdsec-service.sys-crowdsec.svc.cluster.local:8080"
          - name: "CONFIG_INSTANCE_LAPI_URL"
            value: "http://crowdsec-service.sys-crowdsec.svc.cluster.local:8080"
          - name: "CONFIG_INSTANCE_LAPI_AUTH_USERNAME"
            value: "crowdsec-web-ui"
          - name: "CONFIG_INSTANCE_LAPI_AUTH_PASSWORD"
            valueFrom:
              secretKeyRef:
                name: crowdsec-ui
                key: password
          - name: "CONFIG_INSTANCE_METRICS_URL"
            value: "http://crowdsec-service.sys-crowdsec.svc.cluster.local:6060/metrics"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi

