dnsRecords:
- zone: de-avsn
  records:

  - name: "@"
    type: A

  - name: mail
    type: A

  - name: mail
    type: MX
    priority: "10"
    mailServer: "mail.avsn.de."

  - name: www
    type: A

- zone: net-adventurespiele
  records:
  - name: "@"
    type: A

  - name: mail
    type: A

  - name: mail
    type: MX
    priority: "10"
    mailServer: "mail.adventurespiele.net."

  - name: www
    type: A
