---
{{ $roundcubePasswordSecret := (exec "sh" (list "-c" "kubectl -n project-engineer-marcoklein get secret roundcube-db-roundcube -o json")) | fromJson}}
{{ $hostNickname := (exec "sh" (list "-c" "kubectl -n default get configmap host-metadata -o yaml | yq eval '.data.hostNickname'")) | trim }}
{{ $roundcubePassword := $roundcubePasswordSecret.data.password | b64dec }}

repositories:
  - name: mlohr
    url: https://helm-charts.mlohr.com/

releases:
  - name: webmail
    chart: mlohr/roundcube
    namespace: project-engineer-marcoklein
    createNamespace: true
    needs:
      - project-engineer-marcoklein/roundcube-db
    hooks:
      - events: ["prepare", "presync"]
        showlogs: true
        command: sh
        args:
          - -ec
          - |
            ./get-mailserver-domain.sh "marcoklein.engineer"

    values:
      - ./.tmp/domain.yaml
      {{- if not (eq $hostNickname "tharja") }}
      - ./values/custom-ca.yaml
      {{- end }}
      - ingress:
          enabled: false
          host: null
        deployment:
          replicas: 1
          strategy:
            type: Recreate
          podAntiAffinityPreset: ""
        externalDatabase:
          type: mysql
          host: roundcube-db.project-engineer-marcoklein.svc.cluster.local
          port: 3306
          name: roundcube
          user: roundcube
          password: {{ $roundcubePassword | quote }}

  - name: roundcube-db
    chart: ../../helm/mariadb-database
    namespace: project-engineer-marcoklein
    createNamespace: true
    values:
      - ./values/database.yaml