---
repositories:
  - name: traefik
    url: https://helm.traefik.io/traefik

releases:
  - name: sys-traefik
    namespace: sys-traefik
    createNamespace: true
    chart: ../../helm/project

  - name: traefik-config
    namespace: sys-traefik
    createNamespace: true
    chart: ../../helm/traefik-config
    values:
      - name: traefik-base-config
        config: |
          additionalArguments:
            - "--entrypoints.metrics.address=:9100"

          providers:
            kubernetesCRD:
              enabled: true
            kubernetesIngress:
              enabled: true

  - name: traefik-operator
    namespace: sys-traefik
    createNamespace: true
    needs:
      - traefik-config
    chart: traefik/traefik
    version: 41.0.0
    hooks:
      - events: ["prepare", "presync"]
        showlogs: true
        command: sh
        args:
          - -ec
          - |
            ./endpoints.sh "{{`{{.Release.Namespace}}`}}"
      - events: ["prepare", "presync"]
        showlogs: true
        command: sh
        args:
          - -ec
          - |
            ./configs.sh "{{`{{.Release.Namespace}}`}}"
    values:
      - ./.tmp/endpoints.yaml
      - ./.tmp/configs.yaml
      - ports:
          web:
            port: 8000
            exposedPort: 80

          websecure:
            port: 8443
            exposedPort: 443

          # Do I want to expose this?
          metrics:
            port: 9100
            expose:
              default: false

      - resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
