---
{{- $hostNickname := exec "sh" (list "-c" "kubectl -n default get configmap host-metadata -o jsonpath=\"{.data.hostNickname}\" 2>/dev/null || true") | trim }}
repositories:
  - name: traefik
    url: https://helm.traefik.io/traefik

releases:
  - name: sys-traefik
    namespace: sys-traefik
    createNamespace: true
    chart: ../../helm/project

  - name: letsencrypt-traefik-config
    installed: {{ eq $hostNickname "tharja" }}
    chart: ../../helm/traefik-config
    namespace: sys-traefik
    createNamespace: true
    values:
      - name: letsencrypt-resolver
        config: |
          additionalArguments:
            - "--entrypoints.websecure.http.tls.certresolver=internal-acme"
            - "--certificatesresolvers.internal-acme.acme.email=admin@marcoklein.engineer"
            - "--certificatesresolvers.internal-acme.acme.storage=/data/acme.json"
            - "--certificatesresolvers.internal-acme.acme.caserver=https://acme-v02.api.letsencrypt.org/directory"
            - "--certificatesresolvers.internal-acme.acme.tlschallenge=true"
          persistence:
            enabled: true
            path: /data
            size: 128Mi
            storageClass: local-path-projects-retained

  - name: traefik-config
    namespace: sys-traefik
    createNamespace: true
    chart: ../../helm/traefik-config
    values:
      - name: traefik-base-config
        config: |
          additionalArguments:
            - "--providers.kubernetescrd.allowCrossNamespace=true"
            - "--entrypoints.web.forwardedheaders.insecure=true"
            - "--entrypoints.websecure.forwardedheaders.insecure=true"
            - "--accesslog.format=json"
            - "--accesslog=true"

          providers:
            kubernetesCRD:
              enabled: true
            kubernetesIngress:
              enabled: true

  - name: traefik-operator
    namespace: sys-traefik
    createNamespace: true
    needs:
      - traefik-config
      - letsencrypt-traefik-config
    chart: traefik/traefik
    version: 41.0.0
    hooks:
      - events: ["prepare", "presync"]
        showlogs: true
        command: sh
        args:
          - -ec
          - |
            ./endpoints.sh "{{`{{.Release.Namespace}}`}}"
      - events: ["prepare", "presync"]
        showlogs: true
        command: sh
        args:
          - -ec
          - |
            ./configs.sh "{{`{{.Release.Namespace}}`}}"
    values:
      - ./.tmp/endpoints.yaml
      - ./.tmp/configs.yaml
      - ports:
          web:
            port: 8000
            exposedPort: 80

          websecure:
            port: 8443
            exposedPort: 443

      - resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi

      - service:
          spec:
            externalTrafficPolicy: Local

      - experimental:
          plugins:
            crowdsec-bouncer-traefik-plugin:
              moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
              version: "v1.3.5"
