---
repositories:
  - name: traefik
    url: https://helm.traefik.io/traefik

releases:
  - name: sys-traefik
    namespace: sys-traefik
    createNamespace: true
    chart: ../../helm/project

  - name: traefik-operator
    namespace: sys-traefik
    createNamespace: true
    chart: traefik/traefik
    version: 41.0.0

    values:
      - ports:
          web:
            port: 8000
            exposedPort: 80

          websecure:
            port: 8443
            exposedPort: 443

          # Do I want to expose this?
          metrics:
            port: 9100
            expose:
              default: false

          {{ range .Values.extraConfigs }}
          {{- $config := fromYaml (readFile .) }}
          {{- range $k, $v := $config.ports }}
          {{ $k }}:
            port: {{ $v.port }}
            expose:
              default: {{ $v.expose.default }}
            exposedPort: {{ $v.exposedPort }}
            protocol: {{ if hasKey $v "protocol" }}{{ index $v "protocol" }}{{ else }}TCP{{ end }}
          {{- end }}
          {{- end }}


      - additionalArguments:
          - "--entrypoints.metrics.address=:9100"
          - "--entrypoints.websecure.http.tls.certresolver=internal-acme"
          - "--certificatesresolvers.internal-acme.acme.email=admin@example.invalid"
          - "--certificatesresolvers.internal-acme.acme.storage=/data/acme.json"
          - "--certificatesresolvers.internal-acme.acme.caserver=https://acme-pebble.sys-acme.svc.cluster.local:14000/dir"
          - "--certificatesresolvers.internal-acme.acme.httpchallenge=true"
          - "--certificatesresolvers.internal-acme.acme.httpchallenge.entrypoint=web"
          {{ range .Values.extraConfigs }}
          {{- $config := fromYaml (readFile .) }}
          {{- range $config.additionalArguments }}
          - "{{ . }}"
          {{- end }}
          {{- end }}

      - env:
          - name: LEGO_CA_CERTIFICATES
            value: /etc/ssl/custom/acme-pebble-ca/crt

      - persistence:
          enabled: true
          path: /data
          size: 128Mi

      - volumes:
          - name: acme-pebble-ca
            mountPath: /etc/ssl/custom/acme-pebble-ca
            type: secret

      - providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true

      - resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
