---
repositories:
  - name: docker-mailserver
    url: https://docker-mailserver.github.io/docker-mailserver-helm/
  - name: bedag
    url: https://bedag.github.io/helm-charts/

releases:
  - name: sys-mail
    namespace: sys-mail
    createNamespace: true
    chart: ../../helm/project
    values:
      - memory:
          max: 2Gi
        cpu:
          max: 2

  - name: marcoklein-engineer-mail
    namespace: sys-mail
    createNamespace: true
    chart: ../../helm/cert-request
    values:
      - dnsNames:
        - marcoklein.engineer
        - avsn.de
        - adventurespiele.net
        #- codewyre.net # TODO: Enable to enable outlook connection support
        #- sone.online
        #- soneonline.com
        #- devforyou.de

  - name: mail-proxy-conf
    chart: bedag/raw
    namespace: sys-mail
    createNamespace: true
    values:
      - templates:
        - |
          kind: ConfigMap
          apiVersion: v1
          metadata:
            name: mailserver-extra-config
            labels:
              app: mailserver
          data:
            postfix-main.cf: |
              postscreen_upstream_proxy_protocol = haproxy
            postfix-master.cf: |
              smtp/inet/postscreen_upstream_proxy_protocol=haproxy
              submission/inet/smtpd_upstream_proxy_protocol=haproxy
              submissions/inet/smtpd_upstream_proxy_protocol=haproxy
            dovecot.cf: |
              haproxy_trusted_networks = <YOUR POD CIDR>
              service imap-login {
                inet_listener imap {
                  haproxy = yes
                }
                inet_listener imaps {
                  haproxy = yes
                }
              }
  - name: mail
    namespace: sys-mail
    createNamespace: true
    chart: docker-mailserver/docker-mailserver
    version: 5.1.1
    needs:
      - sys-mail/marcoklein-engineer-mail
    values:
      - certificate: marcoklein-engineer-mail-certificate
        persistent_volume_claims:
          mail-data:
            size: 100Gi
            storageClass: local-path-projects-retained
          mail-state:
            storageClass: local-path-projects-retained

        deployment:
          resources:
            requests:
              memory: 512Mi
              cpu: 128m
            limits:
              memory: 1Gi
              cpu: 1
          env:
            OVERRIDE_HOSTNAME: mail.marcoklein.engineer

  - name: mail-accounts
    namespace: sys-mail
    createNamespace: true
    chart: ../../helm/mail-accounts
    needs:
      - sys-mail/mail
    values:
      - ./.tmp/users.yaml
    hooks:
      - events: ["prepare", "presync"]
        showlogs: true
        command: sh
        args:
          - -ec
          - |
            ./mailaccounts.sh "sys-mail"

  - name: mail-traefik-endpoint
    chart: ../../helm/traefik-endpoint
    namespace: sys-traefik
    createNamespace: true
    values:
      - endpoints:
          - name: ml-smtp
            port: 25
            protocol: TCP
          - name: ml-imap
            port: 143
            protocol: TCP
          - name: ml-imap-secure
            port: 993
            protocol: TCP
          - name: ml-sub
            port: 587
            protocol: TCP
          - name: ml-sub-secure
            port: 465
            protocol: TCP

  - name: mail-ingress
    chart: bedag/raw
    namespace: sys-mail
    createNamespace: true
    values:
      - templates:
        - |
          {{ (readFile "./templates/ingress-route-tcp-mail-smtp.yaml") | nindent 10 }}
        - |
          {{ (readFile "./templates/ingress-route-tcp-mail-imap.yaml") | nindent 10 }}
        - |
          {{ (readFile "./templates/ingress-route-tcp-mail-imap-secure.yaml") | nindent 10 }}
        - |
          {{ (readFile "./templates/ingress-route-tcp-mail-submission-secure.yaml") | nindent 10 }}
        - |
          {{ (readFile "./templates/ingress-route-tcp-mail-submission.yaml") | nindent 10 }}

